/* Define colors */
:root {
  --brand-color: #639763;
  --link-color: #3b7c3b;
  --link-hover-color: #4d9a4d;
  --link-color-dark: #639763;
  --link-hover-color-dark: #8bcf8b;
}

/* Define fonts */
@font-face {
  font-family: "Alegreya";
  src: url("/fonts/Alegreya-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("/fonts/Alegreya-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("/fonts/Alegreya-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("/fonts/AlegreyaSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Reduce maximum width of website body */
body {
  max-width: 90ch;
  margin-left: auto;
  margin-right: auto;
}

/* Basic text */
body, p {
  font-family: "Alegreya", serif;
  line-height: 1.75;
  font-size: clamp(1.1rem, 1.1rem + 0.4vw, 1.3rem);
}

/* Short entries for blog posts and tags */
.post-entry .entry-header h2 { font-size: clamp(1.3rem, 1.2rem + 0.4vw, 1.6rem); }
.post-entry .entry-content p {
  font-size: clamp(1.15rem, 1rem + 0.5vw, 1.25rem);
  line-height: 1.6;
}
.post-entry .entry-footer span { font-size: clamp(1rem, 1rem + 0.2vw, 1.1rem); }

/* Styling for home page, including title and subtitle */
.home-info .entry-header h1 { font-size: clamp(1.3rem, 1.7rem + 0.4vw, 2.2rem); }
.home-info .entry-content p { font-family: "Alegreya Sans", sans-serif; }
@media (max-width: 768px) { .home-info { margin-bottom: 0; }
}

/* Reduce maximum width in blog entries */
.post-content > * {
  max-width: 60ch;
  margin-right: auto;
}

/* Headings */
h1.post-title, .page-header h1 { font-size: clamp(1.7rem, 1.4rem + 1.5vw, 2.1rem); }
.post-content h2 { font-size: clamp(1.5rem, 1.3rem + 1vw, 1.8rem); }
.post-content h3 { font-size: clamp(1.2rem, 1.1rem + 0.6vw, 1.4rem); }

/* Navigation links, meta data */
#menu li a, .entry-footer span, .post-meta span, .footer span {
  font-size: 1.15rem;
  font-family: "Alegreya Sans", sans-serif;
}

/* Blockquotes */
blockquote p {
  font-size: clamp(1.25rem, 1.1rem + 1.0vw, 1.5rem);
  font-family: "Alegreya Sans", sans-serif;
  padding: 0.3rem 0;
  margin: 2.2rem 0 !important;
}

/* Table of Contents */
.toc { font-family: "Alegreya Sans", sans-serif; }

/* Tags */
.post-tags li a, .terms-tags li a { font-family: "Alegreya Sans", sans-serif; }
.post-tags li a { font-size: 1.1rem; }

/* Archive */
.archive-entry-title { font-size: 1.3rem; }
.archive-meta span { font-size: 1.1rem; font-family: "Alegreya Sans", sans-serif; }

/* Hide post summary */
.post-description { display: none; }

/* Link colors for Light and Dark Mode */
.post-content a { transition: color 0.5s ease; color: var(--link-color); }
.post-content a:hover { color: var(--link-hover-color); }
body.dark .post-content a { color: var(--link-color-dark); }
body.dark .post-content a:hover { color: var(--link-hover-color-dark); }

/* Logo settings */
.logo a { color: var(--brand-color); }

.logo-img img {
  margin-top: 1rem;
  width: 130px;
  height: auto;
}

@media (max-width: 768px) {
  .logo-img img {
    width: auto;
    max-width: 30%;
  }
}

/* Float image to the right */
figure.float-right {
  float: right;
  margin: 0 0 1rem 1rem;
  width: 30%;
  max-width: 300px;
}

figure.float-right img {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}

/* Show image above text on mobile devices */
@media (max-width: 768px) {
  figure.float-right {
    float: none;
    display: block;
    margin: 1rem auto;
    width: auto;
    max-width: 70%;
  }
}